* {
    min-width: 0px;
}

:root {
    --primary-colour: rgb(75, 150, 160);
    --secondary-colour: rgb(15, 30, 32);
    --text-colour: rgb(180, 210, 210);
    --shadow-colour: rgb(12, 14, 14);
}

body, nav, label {
    align-items: center;
    text-align: center;
}

article, aside {
    margin: 1em;
    border: 0.25em double var(--primary-colour);
}

nav, aside {
    width: 5vw;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--secondary-colour);

    color: var(--text-colour);
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

article {
    max-width: 75vw;
    padding: 2em;

    text-align: left;
}

aside {
    flex-grow: 1;
    padding: 2em;

    text-align: center;
} 

@media only screen and (max-width: 600px) {
    nav {
        width: auto;
    }

    img {
        float: none !important;
    }

    section {
        flex-flow: column;
    }
    
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 1.325em;
    padding: 0.5em;

}

img {
    flex-shrink: 0;
    width: 25em;
    padding: 1.25em;

    object-fit: contain;
    filter: sepia(1) brightness(85%) contrast(100%) saturate(115%) hue-rotate(135deg);
    transition: max-width 1s;
}

.subtext {
    text-indent: none;
}